

.kotak {
  text-align: left;
  
  
}

.wrong{
	background: #FF9C42;
	margin-top: 7px;
}

.kotak3 {
  text-align: left;
  margin-left: 6px;
  margin-top: 10px;
  border: 2px solid #57BCD9;
}

.kotak2 {
  text-align: left;
  background: #FFFFFF;
  margin-bottom: 20px;
}

.judulb{
	font-size: 1.5em;
	padding-top: 11px;
	margin-left: 5px;
	font-weight: bold;
	color: #57BCD9;
}

.imgb{
	float: right;
	width: 55px;
	height: 48px;
}

.bim{
	float: right;
	margin-left: 18px;
}

.textb{
	font-size: 1em;
	margin: 0px 5px 0px 5px;
}



.gamgam{
	margin-top: 5px;
	margin-bottom: 5px;
}

.textb2{
	font-size: 1em;
	margin: 0px 5px 0px 5px;
	padding: 8px 0px 8px 0px;
}


.tentang{
	font-size: 2em;
	font-weight: bold;
	margin: 8px 5px 8px 5px;
}

.jarak{
	padding-bottom: 15px;
}

hr{
	margin: 0px 5px 0px 5px;
}


.img-logo{

}

.jud{
	font-size: 1.7em;
	color: #FFFFFF;
	background: -moz-linear-gradient(top, #FFF 0%, #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#000));
	padding: 10px 10px 7px 10px;
}




.gjud{
	float: left;
}
.is{
	border: 1px solid #000;
	font-size: 13px;
}
.jud2{
	background: -moz-linear-gradient(top, #707070 0%, #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#000));
	padding: 5px 90px 5px 90px;
}
.tom{
	background: #FFFFFF;
	text-align: center;
	text-decoration: none;
	color: #57BCD9;
	font-weight: bold;
}

.link{
	float: right;
}

#hdaf{
	background: #57BCD9;
	padding: 10px 10px 10px 10px;
	height: auto;
	color: #FFFFFF;
}

.daftar{
	background: #FFB60B;
	color: #000000;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
}

.judh{
	font-size: 1.7em;
	font-weight: bold;
}

#menu2 {
  width: auto;
  text-align: right;
  }
#menu2 ul {

  display: inline;
 
  list-style: none;

  
}

.submit{
	background: #57BCD9;
	padding: 3px 6px 3px 6px;
	text-align: center;
}

.submit a{
	text-decoration: none;
	color: #FFFFFF;
}

.kecil{
	font-size: 11px;
	
}
#menu2 ul li {
  font: bold 8px/18px sans-serif;
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  
}
#menu2 ul li:hover {
  background: #996600;
  color: #C06A45;
  transition: all 0.2s;
  
  
}


#menu {
  width: auto;
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 5px 0px;
  background-color: #57BCD9;
  font-size:20x;
  text-align: center;
  
  }
  
#menu a{
	color: #000000;
	text-decoration: none;
	
}

#menu a:hover{
	color: #FFFFFF;
	text-decoration: none;
}
#menu ul {
  display: inline;
  list-style: none;
  
  
}
#menu ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 5px 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-right: 3px dotted #000000;
  
}

#footer{
	padding: 5px 0px 5px 0px;
	text-align: center;
	margin-top: 10px;
	background: #707070;
	font-size: 13px;
	color: #FFFFFF;
}
