

.kotak {
 
  margin-bottom: 20px;
  
}


.img-logo{
  margin-bottom: 7px;
  padding-right:5px;
  width: 225px;
  height: 150px;
 }
 
 .img-even{
  float: left;
  margin: 1px 8px 7px 9px;
  padding-right:5px;
  width: 100px;
  height: 100px;
 }
 
 .img-banner{
  float: right;
  margin: 1px 40px 8px 40px;
  width: 225px;
  height: 150px;
 }
 

 

   
   
 #menu {
  float: right;
  margin-top: 110px;
  font-size:20px;
  text-align: right;
  border-right: 1px;
  }
 #menu a{
   text-decoration: none;
 }
#menu ul {
  text-align: right;
  display: inline;
  margin: 0;
  list-style: none;

  
}
#menu ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  position: relative;
  cursor: pointer;
  
}
#menu ul li:hover {
  background: #996600;
  color: #C06A45;
  transition: all 0.2s;
  
  
}

.judulut{
	font-size: 2.2em;
	margin-left: 8px;
}

.tglut{
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
	margin-left: 8px;
}

.judulbar{
	font-size: 2em;
	margin-left: 8px;
}

#copy{
	font-size: 1em;
}

#menuf{
	float: right;
	font-size: 1em;
	
}

#menuf a{
   text-decoration: none;
   
 }
 
#menuf ul {
  text-align: right;
  display: inline;
  margin: 0;
  list-style: none; 
  
}

#menuf ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  position: relative;
  cursor: pointer;
   
}

#menuf ul li:hover {
  background: #996600;
  color: #C06A45;
  transition: all 0.2s; 
}

.tglbar{
	font-size: 0.8em;
	font-style: italic;
	font-weight: bold;
	margin: 0px 0px 3px 8px;
}

.show{
	padding: 5px 8px 5px 0px;
	text-align: right;
	margin: 10px 0px 10px 0px;
	background-color: #000000;
	text-decoration: none;
	width: 99%;
	color: #666666;
}

.show2{
	text-align: right;
	margin-top: 10px;
	width: 99%;
	text-decoration: none;
	color: #666666;
}

.text{
	margin-left: 8px;

}

.list{
	margin-left: 8px;
	font-weight: bold;
}