/***************************************
 
Author: Lufti Nurfahmi
Author URI: http://www.logictragedy.com
This is free you can use it for personal or commercial.
Feel free to follow me @luftinurfahmi
	
***************************************/

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('fonts/BebasNeue-webfont.eot');
	src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-webfont.woff') format('woff'), url('fonts/BebasNeue-webfont.ttf') format('truetype'), url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Main Global Layout Settings */
* {
	padding: 0 auto;
	margin: 0 auto;
	outline: none;
	list-style: none;
	border: 0 none;
}
body {
	/*background:#FFF url(images/patterns/body-bg7.png);*/
	
	background: url(images/body-bg16.png) #FFFFFF;
	color: #333;
	font-family: 'Droid Sans', Arial, Verdana, sans-serif;
	font-size: 13px;
}
pre, code {
	direction: ltr;
	background: url(images/code-bg.png);
	font: 11px/19px 'andale mono', 'lucida console', monospace;
	padding: 3px;
	display: block;
	overflow-x: visible;
	overflow-y: hidden;
	margin: 0 0 20px 0;
	color: #666;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.aligncenter {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}
a {
	color: #444;
	text-decoration: none;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}



a:hover {
	color: #000;
}
.clear {
	clear: both;
}

.divider{
	padding:40px;
	display: block;
	width:100%;
}


/* Inti CSS3 background fixed */

.container{
width:960px;
margin-right: auto;
margin-left: auto;
padding:75px;
}

.background-holder{
	width:100%;
	height:630px;
	
	background-size:cover;
	-webkit-background-size:cover;
	
}
.back1{
	background:url(../images/green_grass.jpg) no-repeat center top fixed;
}
.back2{
	
	background:url(../images/silho.jpg) no-repeat center top fixed;
}
.back3{
	background:url(../images/city.jpg) no-repeat center top fixed;
}
.back4{
	
	background:url(../images/silho.jpg) no-repeat center top fixed;
}
.text{
	width:30%;
	color:#FFFFFF;
	  
	 float:left;
	 padding:10px;
	
}


.isi{
	background: url(../images/bb.png);
	color:#FFFFFF;
	padding:10px;
	
	
}
.tgam{
	float: center;
	background:url(../images/thanks.png) no-repeat center top fixed;
	
	
}
#audio{
	margin:225px 350px 200px 600px;
	
}

#video{
	margin:10px 450px 200px 600px;
	
}

.images{
	padding: 220px 320px 6px 320px;
}


