body{
	background: -moz-linear-gradient(top, #FF8A8A 0%, #663333 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF8A8A), to(#663333));
}

#header {
  margin: 25px 200px 5px 200px  ;
  width: auto;
  height: 80px;
  margin-bottom: 7px;
  
  }
  
#header z{
  margin-top: 70px;
  text-shadow: 2px 2px 7px #111; 
  font-size: 3.2em; 
  color: #cc6633;
}
#header j{
  font-size: 17px; 
  color: #FFFFFF;
}

#menu {
  width: auto;
  height: 28px;
  margin: 25px 200px 5px 200px;
  background-color: #B05F3C;
  font-size:17x;
  text-align: center;
  border:0px solid #B05F3C;
  border-radius:25px;
  }
#menu ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;

  
}
#menu ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 5px 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  
}
#menu ul li:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #996600;
  color: #C06A45;
  transition: all 0.2s;
  
  
}
#menu ul li ul {
  padding: 0;
  position: absolute;
  top: 26px;
  left: 0;
  margin-left: -30px;
  width: 200px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  
}
#menu ul li ul li { 
  background: #C06A45; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  
  
}
#menu ul li ul li:hover {
 background: #996600; 
 }
#menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  border-radius:10px;
  
}
  
.content {
  width: 46%;
  height: auto;
  margin: 25px 10px 15px 200px  ;
  
  }
 
  
.judulk{
  width: 95%;
  margin: 17px 17px 17px 17px;
  padding: 7px 0px 7px 0px;
  background-color: #2DC800;
  color: #FFFFFF;
  font-size:24px;
  border-radius:10px;
  }
.title{
  float: left;
  width: 12%;
  padding: 1px 0px 1px 0px;
  margin-top: -7px;
  background-color: #006600;
  text-align: right;
  font-size:17px;
  text-align: left;
  color: #FFFFFF;
  border-radius:10px 0px 0px 10px;
  
}
.tahun{
  float: left;
  width: 30%;
  text-align: center;
  font-size: 15px;
  padding-left:12px;
  color: #FFFFFF;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg) ; /* IE 9 */
  -moz-transform: rotate(90deg) ; /* Firefox */
  -webkit-transform: rotate(90deg) ; /* Safari and Chrome */
  -o-transform: rotate(90deg) ;
}
.bln{
  text-align: center;
  font-size: 15px;
  padding-left: 17px;
  color: #FFFFFF;
  margin-top: -5px;
}
.tang{
  text-align: center;
  padding-right: 15px;
  font-size: 20px;
  color: #FFFFFF;
  padding-top: 4px;
}

.reading{
  width: 95%;
  margin: 17px 17px 17px 17px  ;
  padding: 0px 0px 2px 0px;
  font-size:17x;
  border-radius:10px;
  }
.reading a{
  color: red;
  padding: 3px 4px 3px 4px;
  transition:background 0.2s;
  }
.reading a:hover{
  color: red;
  padding: 3px 4px 3px 4px;
  background-color: #330066;
  }

.tag{
  width: 80%;
  height: 40px;
  padding: 0px 0px 2px 0px;
  background-color: #F2E4D5;
  text-align: left;
  font-size:17x;
  text-align: center;
  border-radius:10px;
  
}

.tagread{
  float: right;
  width: 30%;
  background-color: #B05F3C;
  padding: 11px 11px 11px 0px;
  text-align: right;
  font-size:17x;
  color: #FFFFFF;
  border-radius:10px;
  transition:width 0.2s;
  
}
.tagread2{
  float: left;
  width: 10%;
  height: 42px;
  margin-top: -11px;
  margin-bottom: -11px;
  color: #F2E4D5;
  background-color: #F2E4D5;
  text-align: left;
  font-size:25x;
  text-align: center;
  border-radius:0px 10px 10px 0px;
  
}

.tagread:hover{
  float: right;
  width: 28%;
  padding: 11px 11px 11px 0px;
  font-size:17x;
  text-align: right;
  border-radius:10px;
  
}


.noar{
  float: right;
  width: 10%;
  padding:11px 0px 11px 0px;
  margin-top: -7px;
  background-color: #006600;
  color: #FFFFFF;
  text-align: right;
  font-size:17px;
  text-align: center;
  border-radius:10px;
}

.nyamping{
  margin-right: 200px;
}

.sidebar {
  float: right;
  width: 22%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 25px;
  padding: 5px 0px 15px 0px;
  background-color: #F2E4D5;
  font-size:17x;
  border:0px solid #F2E4D5;
  border-radius:25px;
  word-wrap:break-word;}
  

  
.sidebar a{
   color: red;
   text-decoration: none;
   margin-left: 15px;
   transition:margin 0.2s;
   
}

.sidebar a:hover{
   color: blue;
   margin-left: 20px;
}

.ground2 a{
   color: red;
   text-decoration: none;
   margin-left: 15px;
   transition:margin 0.2s;
   
}

.ground2 a:hover{
   color: red;
   text-decoration: underline;
   margin-left:15px;
}

#cob a{
   color: red;
   margin-left: 15px;
   text-decoration: none;
   word-wrap:break-word;
   
}

#cob a:hover{
   color: red;
   text-decoration: underline;
   margin-left:15px;
}
  
.bawah1 {
  float: left;
  width: 20%;
  height: 300px;
  margin: 25px 10px 15px 25px  ;
  }
  
.ground {
  padding: 5px 0px 5px 0px;
  background-color: #F2E4D5;
  font-size:17x;
  border:0px solid #F2E4D5;
  border-radius:25px;
}

.ground2{
  margin: 15px 15px 17px 15px  ;
}
.judsid{
  width: 85%;
  background-color: #2DC800;
  color: #FFFFFF;
  padding: 2px 3px 2px 10px;
  font-size:17x;
  border-radius:10px;
}
.isid{
  width: 87%;
  padding: 0px 3px 4px 0px;
  background-color: #FFFFFF;
  font-size:17x;
  border-radius:5px;
}
.twitter{
  float: left;
  width: 20%;
  padding: 2px 3px 2px 10px;
  background-color: #A5DBEB;
  font-size:17x;
  border-radius:5px;
}

.rss{
  float: left;
  width: 20%;
  padding: 2px 3px 2px 10px;
  background-color: #FF7575;
  font-size:17x;
  border-radius:5px;
}

.textcon{
text-align: left;
margin: 17px 17px 17px 17px  ;
padding: 2px 2px 2px 2px;
word-wrap:break-word;
}

.autor{
	padding-top: 8px;
	margin-right: 15px;
	text-align: right;
	font-size: 14px;
}
#draj {
  text-align: center;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg) ; /* IE 9 */
  -moz-transform: rotate(90deg) ; /* Firefox */
  -webkit-transform: rotate(90deg) ; /* Safari and Chrome */
  -o-transform: rotate(90deg) ; /* Opera */
}
 a{
   color: red;
   text-decoration: none;
 }
 
 
 a:hover{
   color: #FFFFFF;
   text-decoration: none;
   
   
 }
 hr{
	margin: 0px 15px 3px 15px;
 }
 
 .kom{
	margin-left: 15px;
	margin-bottom: 15px;
 }
 
#footer{
  float: left;
   margin: 5px 200px 5px 400px  ;
  width: auto;
  height: 80px;
  text-align: center;
}
#kurung {
   width: 100%;
   margin-top: 15px;
   height: 120px;
}
.bubble {
   position:relative;
   padding:15px;
   margin:15px 15px 30px 15px;
   color:#000;
   text-align: center;
   background:#2DC800;
   font-size: 20px;
   color: #FFFFFF;
   /* css3 */
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   background:-moz-linear-gradient(top, #2DC800, #2DC800);
   background:linear-gradient(top, #2DC800, #2DC800);
   transition:margin 0.2s;
}
.bubble:hover{
   padding: 17px;
   margin:13px 13px 33px 13px;
   
}


.bubble:before {
content: "";
display:block;
position: absolute;

bottom: -30px;
right: 60%;
height: 28px;
border-right: 60px solid #2DC800;
background: #2DC800;
-webkit-border-bottom-right-radius: 80px 50px;
-moz-border-radius-bottomright: 80px 50px;
border-bottom-right-radius: 80px 50px;
-webkit-transform: translate(0, -2px);
-moz-transform: translate(0, -2px);
-ms-transform: translate(0, -2px);
-o-transform: translate(0, -2px);
transform: translate(0, -2px);
}

.bubble:after {
content: "";
display:block;
position: absolute;

bottom: -30px;
right: 60%;
width: 60px;
height: 28px;
background: #F2E4D5;
-webkit-border-bottom-right-radius: 40px 50px;
-moz-border-radius-bottomright: 40px 50px;
border-bottom-right-radius: 40px 50px;
-webkit-transform: translate(-30px, -2px);
-moz-transform: translate(-30px, -2px);
-ms-transform: translate(-30px, -2px);
-o-transform: translate(-30px, -2px);
transform: translate(-30px, -2px);
}

