body {
  background-color: #FFF;
  font-family: "calibri" }

#header {
  margin: 5px 80px 5px 80px  ;
  width: auto;
  height: 80px;
  margin-bottom: 7px;
  }
#header img{
  float: left;
  margin-bottom: 7px;
  text-align: left; } 
#header p{
  text-align: right;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 75px 820px;
  color: white;
  background-color: #2F4F4F;
   }
#menu {
  width: auto;
  height: 27px;
  margin: 5px 80px 5px 80px  ;
  padding: 10px 0px 15px 0px;
  border: 1px solid #CCC;
  
  font-size:17x;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#menu ul{
  margin: 4px 4px 4px 7px;
  padding: 0px;  list-style: none; }
#menu li{
  margin: 30px;
  padding: 0px;
  display: inline; }
#menu a{
  padding: 6px 6px 6px 6px;
  color: black;
  padding-right: 38px;
  border-right: 1px solid #CCC;
  text-decoration: none; }
#menu a:hover{
  padding: 6px 6px 6px 6px;
  padding-right: 38px;
  text-decoration: none;
  color: blue; }
#sidebar {
  float: left;
  width: 280px;
  margin-left: 80px;
  height: auto;
  padding-bottom: 14%;
  border: 1px solid #CCC;
  
  text-align: center; }
#sidebar hr{
  border-bottom:1px dashed;
}

#sidebar a{
  border: 1px solid #CCC;
  padding: 1px 115px 1px 115px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#sidebar table{
  border: 1px solid #CCC;
  margin: 3px 3px 7px 3px;
  padding: 1px 13px 1px 13px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#sidebar v{
  border: 1px solid #CCC;
  padding: 1px 105px 1px 105px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


#sidebar li{
  text-align: left;
  border-bottom:1px dashed;
}

#content {
  margin: 5px 80px 5px 80px  ;
  width: auto;
  height: auto;
  border: 1px solid #CCC;
   }
#content d{
  color: #1E90FF; }

  
#content a{
  padding: 2px 2px 2px 2px;
  background-color: #1E90FF;
  color: #FFFFFF;
  text-decoration: none;  }
  
#content b{
  border: 1px solid #CCC;
  text-align: center;
  padding: 1px 335px 1px 335px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
    }
  
#content input{
  background-color: #1E90FF;
  color: #FFFFFF;
  margin-left: 50%;
   }
#content img{
  border-radius: 17px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  box-shadow: 0px 0px 10px #CCC;
  -moz-box-shadow:0px 0px 10px #CCC;
  -webkit-box-shadow: 0px 0px 10px #CCC;
  padding: 2px;
  margin-right: 10px;
  float:left; }


#footer2 {
  width: auto;
  height: 20px;
  color: blue;
  padding-top: 1px;
  text-align: center;
  clear: both;
 }
#footer {
  width: auto;
  height: 27px;
  margin: 0px 80px 0px 80px  ;
  border: 1px solid #CCC;
  background-color: #696969;
  font-size:17x;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#footer ul{
  margin: 4px 4px 4px 7px;
  padding: 0px;  list-style: none; }
#footer li{
  margin: 75px;
  padding: 0px;
  display: inline; }
#footer a{
  padding: 6px 6px 6px 6px;
  color: white;
  text-decoration: none; }
#footer a:hover{
  padding: 5px 5px 2px 5px;
  text-decoration: none;
  color: blue; }
#content x{
  width: auto;
  border-bottom:1px dashed;
}

div.img
{
  margin: 15px;
  padding: 5px;
  border: 1px solid #0000ff;
  height: auto;
  width: auto;
  float: left;
  text-align: right;
}	
div.img img
{
  display: inline;
  margin: 5px;
  border: 1px solid #ffffff;
}
div.img a:hover img {border: 1px solid #0000ff;}
div.desc
{
  text-align: left;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}
